{% extends "base.html" %}
{% block title %}Activity{% endblock %}

{% block content %}
<div align="center" style="margin-top: 50px;">
    <h1>Activity Page🏋</h1>
    <p>Here you can see your activities!</p>

    <br>

    <!-- Table for activities -->
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th> 
            <th>Phone Number</th>
            <th>Activity Type</th>
            <th>Upcoming Activities</th>
        </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
              <td>{{ user.first_name }}</td>
              <td>{{ user.email }}</td> 
              <td>{{ user.phone_number }}</td>
              <td>
                {% if user.activity_types %}
                    <ul style="list-style-type: none; padding: 0; margin: 0;">
                        {% for activity in user.activity_types.split(',') %}
                            <li>✅ {{ activity }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No activities yet
                {% endif %}
              </td>
             <td>
                {% if user.activities %}
                    <ul>
                        {% for act in user.activities %}
                        <li>
                            <strong>Activity:</strong> {{ act.activity_type }}<br>
                            <strong>Date:</strong> {{ act.date.strftime('%d/%m/%Y') }}<br>
                            <strong>Time:</strong> {{ act.time.strftime('%I:%M %p') }}<br>
                            <strong>Location:</strong> {{ act.location }}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No upcoming activities
                {% endif %}
            </td>

          </tr>
          {% endfor %}
        </tbody>
    </table>

    <br>
    <!-- Add Activity Button at the bottom -->
    <a href="{{ url_for('views.add_activity_page') }}">
        <button class="btn btn-primary">Add Activity</button>
    </a>
</div>
{% endblock %}
